<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    
</head>
<body style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">RWA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Search", "Index", "Apartments", new { @o = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (Session["user"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "User", new { @o = "" }, new { @class = "btn btn-primary" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Create", "User", new { @o = "" }, new { @class = "btn btn-default" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Profile", "Index", "User", new { @o = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "User", new { @o = "" }, new { @class = "btn btn-danger" })
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Croatian</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div style="margin: 0 auto; width: 100%; padding: 20px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RWA</p>
        </footer>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js" ></script>
    <script src="~/Scripts/jquery-3.6.0.min.js" ></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    @RenderSection("jquery", required: false)

    

</body>


</html>